#thaisereumato{
        margin: 0px 0px 0px 0px;
        background-image: url("/assets/reumatocapa.jpg");
        position: relative;
        //background-position: center;
        background-position-x: 50%;
        background-repeat: no-repeat;
        height: 40%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background-attachment: fixed;
        background-size: 100%;
        @media(max-width:922px) {
          height: 25%;

        }
        @media(max-width:600px) {
          //background-position: center;
          //background-position-y: -347px;
          //background-repeat: repeat-x;
          background-repeat: no-repeat;
          background-size: 200%;
          height: 30%;
          margin: 0px 0px 0px 0px;
          padding: 0px 0px 0px 0px;
          background-attachment: fixed;
        }
}

.context_site {
    background-color: white;
}

mat-toolbar{
  background-color: rgba(0, 0, 0, 0.787);
  padding: 0% 10% 0% 10%;
  font-size: 18px;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  fill: #FFFFFF;
  flex-grow: 1;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-color: black;


  #buttonMenu{
    display: none;
  }

  mat-toolbar-row{
    justify-content: space-between;

  }

  .divbar{
    width: 100%;
    cursor: pointer;
    text-align: center;
  }

  div:hover{
    //font-size: 15px;
    color: rgba(245, 222, 179, 0.508);
    transform: scale(0.9);
    transition: transform .3s ease-in-out;
  }
  @media(max-width:750px){
    padding: 0% 0% 0% 0%;
    .divbar{
      display: none;
    }
    mat-toolbar-row{
      display: none;
    }

    #buttonMenu{
      display: block;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.noOption{
  display: none;
}

.meucard{
  display: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  fill: #FFFFFF;
  flex-grow: 1;
  text-transform: uppercase;
  align-items: center;

  @media(max-width:750px){
    display: block;
  }
}

mat-list{
  align-items: center !important;
}

mat-divider{
  height: 1%;
}

mat-list-item:hover{

  color: rgb(106, 84, 58);
  background-color: rgba(128, 128, 128, 0.119);
}

#logothaise{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  @media(max-width:300px){
    img{
      width: 100%;
    }
  }
}

#box1{
  margin-bottom: .5%;
}

#thaiseoffice{
  background-image: url("/assets/Dermatologista-em-Ribeirao-Preto.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100%;
  //background-position: center;
  img{
    display: none;
  }
  @media(max-width:1540px){
    background-size: 120%;
    background-position:center ;
  }
  @media(max-width:1350px){
    background-size: 150%;
    background-position:center ;
  }

  @media(max-width:767px){
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    img{
      width: 100%;
      display: block;
    }
  }
}
.bigText{
  font-size: 25px;
  text-align: left;
  color: #000000;
  font-weight: 500;
  padding: 0px 10px 0px 10px;

  @media (max-width:600px) {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: 1.5em;
  }
}

.normalText{
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  text-align: left;
  color: #000000;
  font-weight: 300 !important;
  line-height: 1.7em;
  text-align: justify;
  @media (max-width:600px) {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 15px;
  }
}

#nameThaise{
  font-size: 2vw;
  font-weight: 300 !important;
  @media(max-width:600px) {
  font-size: 4vw;
    
  }
}
/*<-------------------------------------  cards --------------------------------------->*/

mat-grid-list{
  width: 100%;
}


mat-grid-tile{
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


thead, tbody, tfoot, tr, td, th{
  border-style: none;
  box-shadow:none;

}

.example-card {
  text-align: center;
  max-width: 100%;
  height: 100%;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #000000;
  mat-card-content{
    font-size: 15px;
    color: #000000;
    font-weight: 400 !important;
    line-height: 1.7em;
    text-transform: uppercase;
    height: 50%;
    font-family: "Montserrat", Sans-serif;
    @media(max-width: 600px){
      font-size: 3.5vw;
    }
  }
}

.example-card:hover{
  background-color: #00000027;
}

// -------------------------- Title --------------------------------
#titlebox{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  padding: 0px 20px 0px 0px; 
  margin-top: 8%; 
  justify-content: center;

  @media(max-width:1400px){
    padding: 0px 0px 0px 0px;
  }
  @media(max-width:400px){
    background-color:rgb(220 214 214);
    align-items: center;
   }
  
}
#titleInnerBoxOne{
  font-weight:200 !important; 
  font-size: 2vw; 
  text-align: end;
  padding: 0px 20px 0px 0px;
  font-family: 'Montserrat', sans-serif;

  @media(max-width:1025px){
    padding: 0px 10px 0px 0px;
    font-size: 3vw; 
  }
  @media(max-width:768px){
    font-weight: 500 !important;
    font-size: 4vw;
    margin: 0px 0px 0px 0px;
  }
 
} 
#titleInnerBoxTwo{
  width: 30%; justify-content: center; position: relative; font-size: 20px;
  @media(max-width:768px){
    width: 5%;
  }
  @media(max-width:400px){
    display: none;
  }
}

