<div id="thaisereumato"></div>

<mat-toolbar>

  <div class="divbar">
    <span>Home</span>
    <span class="example-spacer"></span>
  </div>
  <div  class="divbar">
    <span>Reumatologia clínica</span>
    <span class="example-spacer"></span>
  </div>
  <div class="divbar">
    <span>Artigos</span>
    <span class="example-spacer"></span>
  </div>
  <div class="divbar">
    <span>Contato</span>
    <span class="example-spacer"></span>
  </div>
 

  <button (click)="openCloseNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>{{menu}}</mat-icon>
  </button>
</mat-toolbar>

<mat-card id="meucard" [ngClass]="{'noOption': !clickMenu}">
  <mat-list role="list" class="container text-center" >
    <mat-list-item role="listitem">Home</mat-list-item>
    <mat-list-item role="listitem">Reumatologia clínica</mat-list-item>
    <mat-list-item role="listitem">Artigos</mat-list-item>
    <mat-list-item role="listitem">Contato</mat-list-item>
  </mat-list>
</mat-card>

<div id="logothaise">
    <img src="../../../assets/Dra-Daniela-Siqueira-Dermatologista.jpg" alt="">
</div>
<!--
<mat-divider></mat-divider> -->

<div id="box1"  class="row" style="background-color: #dcd6d6;">
  
  <div id="thaiseoffice"  class="col-md-6">
    <img src="/assets/Dermatologista-em-Ribeirao-Preto.jpg" alt="Reumatologia">
  </div>

  <div class="col-md-6" >
    <h1  class="bigText mt-3">
      Sejam bem-vindos(as)!
    </h1>
    <p class="normalText">
      Com muita dedicação, em 2008 fui aprovada na Pontifícia Universidade Católica de Campinas, onde cursei os 6 anos de Medicina que me trouxeram muitas vivências.
    </p>
    <p  class="normalText">
      Em 2014 fui aprovada na residência médica em Dermatologia também pela Pontifícia Universidade Católica de Campinas, iniciando minha imersão na Dermatologia e onde tive excelentes professores, o que me possibilitou ter uma formação completa na áreas clínica, cirúrgica e estética.
    </p>
    <p  class="normalText">
      Em 2017 iniciei minha especialização em Cirurgia Dermatológica pelo Hospital das Clínicas de Ribeirão Preto da Universidade de São Paulo, momento que lapidei minha técnica cirúrgica e adquiri experiência na oncologia cutânea.
    </p  >
    <p class="normalText">
      E atualmente, realizo atendimentos que vão de encontro ao meu propósito, que é exercer a Dermatologia como sinônimo de saúde, bem-estar e felicidade!
    </p>
  </div>

</div>

<mat-toolbar class="text-center"></mat-toolbar>

<table class="table">
  <tbody>
    <tr>
      <td>
        <mat-card class="example-card">     
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card class="example-card">     
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card class="example-card">     
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td>
        <mat-card class="example-card">     
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td> <td>
        <mat-card class="example-card">     
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td> <td>
        <mat-card class="example-card">     
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
  </tbody>
</table>


<footer>
  <div>

  </div>
  <div class="row">
  </div>
  <div class="row text-center">
    <span class="col-md-4">Dra Thaise Oliveira Quaresma</span>
    <span class="col-md-4">2022 - Todos os direitos reservados </span>
    <span class="col-md-4">Desenvolvido por BalduinTechnology</span>
  </div>
</footer>
