<!-- ################### Imagem de inicio ################### -->
<div id="thaisereumato"></div>

<app-menu></app-menu>

 <!-- ################### logo do site thaise ################### -->

<div id="logothaise" >
    <img src="../../../assets/Dra-Daniela-Siqueira-Dermatologista.jpg" alt="">
</div>

<!-- ################### boas vindas thaise ################### -->

<div id="box1"  class="row" style="background-color: #dcd6d6;" fxShow [fxShow.xs]="false" fxShow [fxShow.sm]="true" fxHide [fxHide.gt-sm]="false">

  <div id="thaiseoffice"  class="col-md-6">
    <img src="/assets/doutora.webp" alt="Reumatologia">
  </div>

  <div class="col-md-6" >
    <h1  class="bigText mt-3">
      Sejam bem-vindos(as)!
    </h1>
    <p class="normalText">
      Com muita dedicação, em 2008 fui aprovada na Pontifícia Universidade Católica de Campinas, onde cursei os 6 anos de Medicina que me trouxeram muitas vivências.
    </p>
    <p  class="normalText">
      Em 2014 fui aprovada na residência médica em Dermatologia também pela Pontifícia Universidade Católica de Campinas, iniciando minha imersão na Dermatologia e onde tive excelentes professores, o que me possibilitou ter uma formação completa na áreas clínica, cirúrgica e estética.
    </p>
    <p  class="normalText">
      Em 2017 iniciei minha especialização em Cirurgia Dermatológica pelo Hospital das Clínicas de Ribeirão Preto da Universidade de São Paulo, momento que lapidei minha técnica cirúrgica e adquiri experiência na oncologia cutânea.
    </p  >
    <p class="normalText">
      E atualmente, realizo atendimentos que vão de encontro ao meu propósito, que é exercer a Dermatologia como sinônimo de saúde, bem-estar e felicidade!
    </p>
  </div>

</div>


<div id="box1"  style="background-color: #dcd6d6;" fxShow [fxShow.xs]="true" fxShow [fxShow.sm]="false" fxHide [fxHide.gt-sm]="true">

  <div id="thaiseoffice">
    <img src="/assets/doutora.webp" alt="Reumatologia">
  </div>

</div>

<div id="box1" style="background-color: #dcd6d6;" fxShow [fxShow.xs]="true" fxShow [fxShow.sm]="false" fxHide [fxHide.gt-sm]="true" >
    <h1  class="bigText mt-3">
      Sejam bem-vindos(as)!
    </h1>
    <p class="normalText">
      Com muita dedicação, em 2008 fui aprovada na Pontifícia Universidade Católica de Campinas, onde cursei os 6 anos de Medicina que me trouxeram muitas vivências.
    </p>
    <p  class="normalText">
      Em 2014 fui aprovada na residência médica em Dermatologia também pela Pontifícia Universidade Católica de Campinas, iniciando minha imersão na Dermatologia e onde tive excelentes professores, o que me possibilitou ter uma formação completa na áreas clínica, cirúrgica e estética.
    </p>
    <p  class="normalText">
      Em 2017 iniciei minha especialização em Cirurgia Dermatológica pelo Hospital das Clínicas de Ribeirão Preto da Universidade de São Paulo, momento que lapidei minha técnica cirúrgica e adquiri experiência na oncologia cutânea.
    </p  >
    <p class="normalText">
      E atualmente, realizo atendimentos que vão de encontro ao meu propósito, que é exercer a Dermatologia como sinônimo de saúde, bem-estar e felicidade!
    </p>
</div>


<!-- ################### cards de formação e especialização ################### -->

<mat-toolbar> <h1  id="nameThaise" >DR.Thaise Oliveira Quaresma - Reumatologia </h1>  </mat-toolbar>

<table id="boxResume" [ngClass]="{
  'animate__animated animate__zoomIn animate_slower': effectOn
  }"
  class="table text-center">
  <tbody>
    <tr  [fxShow.xs]="false" >
      <td>
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">school</i></mat-card-title>
            Medicina pela Universidade de Salvador - Bahiana
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title>
              <img src="../../../assets/female-doctor-icon.svg" alt="doutora" class="mb-2">
            </mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card class="example-card" fxHide [fxHide.gt-sm]="false">
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">person</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
    <tr  [fxShow.xs]="false">
      <td>
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title>
              <img src="../../../assets/medical-history-icon.svg" alt="doutora" class="mb-2">
            </mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
      <td fxHide [fxHide.gt-sm]="false">
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title>
              <img src="../../../assets/symptoms-check-icon.svg" alt="doutora" class="mb-3">
            </mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
    <tr fxShow [fxShow.xs]="false" fxShow [fxShow.sm]="true" fxHide [fxHide.gt-sm]="true" >
      <td>
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">person</i></mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
      <td>
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title>
              <img src="../../../assets/symptoms-check-icon.svg" alt="doutora" class="mb-3">
            </mat-card-title>
            Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
          </mat-card-content>
        </mat-card>
      </td>
    </tr>

  </tbody>
</table>

<table id="boxResume2" [ngClass]="{'animate__animated animate__zoomIn': effectOn2}"
class="table mb-5 text-center animate__animated animate__zoomIn"
fxShow [fxShow.xs]="true"
fxShow [fxShow.sm]="false"
fxHide [fxHide.gt-sm]="true">
  <tbody>
    <tr>
      <td>
        <mat-card class="example-card">
          <mat-card-content>
            <mat-card-title><i class="material-icons" style="font-size: 50px;">school</i></mat-card-title>
            Medicina pela Universidade de Salvador - Bahiana
          </mat-card-content>
        </mat-card>
      </td>
    </tr>
    <tr>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-title>
            <img src="../../../assets/female-doctor-icon.svg" alt="doutora" class="mb-2">
          </mat-card-title>
          Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
        </mat-card-content>
      </mat-card>
    </tr>
    <tr>
      <mat-card class="example-card" fxHide [fxHide.gt-sm]="false">
        <mat-card-content>
          <mat-card-title><i class="material-icons" style="font-size: 50px;">person</i></mat-card-title>
          Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
        </mat-card-content>
      </mat-card>
    </tr>
    <tr>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-title><i class="material-icons" style="font-size: 50px;">local_hospital</i></mat-card-title>
          Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
        </mat-card-content>
      </mat-card>
    </tr>
    <tr>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-title>
            <img src="../../../assets/medical-history-icon.svg" alt="doutora" class="mb-2">
          </mat-card-title>
          Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
        </mat-card-content>
      </mat-card>
    </tr>
    <tr>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-title>
            <img src="../../../assets/symptoms-check-icon.svg" alt="doutora" class="mb-3">
          </mat-card-title>
          Residência Médica pela Universidade de São Paulo Ribeirão Preto - USP
        </mat-card-content>
      </mat-card>
    </tr>
  </tbody>
</table>

<!--- ################# TRATAMENTOS REUMATOLÓGICOS ################ --->

<app-panel 
  title="Procedimentos Reumatológicos" 
  img="assets/procedimentosmaos.jpg">
</app-panel>

<app-panel 
  title="Procedimentos Reumatológicos" 
  img="assets/reumatologistajoelho.jpg">
</app-panel>
