<footer class="mt-5" style="background-color: black;">
    <div id="footerCard">
      <div class="footerCard"  style="color: white;">
          <h1> Contato</h1>
          <p> <img src="../../../assets/whatsapp.svg" alt="whatsapp"> Agendar Horário</p>
          <p><i class="material-icons">phone_enabled</i> telefone: (16) 9999999999 </p>
          <p> endereço da clinica professor doutor Cel. Fernando ferreira Leite</p>
          <p><i class="material-icons">alternate_email</i> email</p>
          <p><img src="../../../assets/instagram.svg" > instagram</p>
      </div>
      <iframe class="footerCard"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.344740063401!2d-47.83020028453589!3d-21.21817398513252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b9b94cfad6c6a5%3A0xe3a0f51bd2285217!2sR.%20Prof.%20Dr.%20Francisco%20Orlando%20Alonso%20-%20Ribeir%C3%A3o%20Preto%2C%20SP%2C%2014026-558!5e0!3m2!1spt-BR!2sbr!4v1667057809167!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </footer>
  
  <footer style="background-color: #dcd6d6; padding: 3vw 3vw 3vw 3vw">
    <div class="row text-center" >
      <span class="col-md-4"> <strong> Dra. Thaise Oliveira Quaresma </strong> </span>
      <span class="col-md-4">2022 - Todos os direitos reservados </span>
      <span class="col-md-4">Desenvolvido por <strong> Matheus Balduino </strong> </span>
    </div>
  </footer>