
<!-- #################### menu principal  ################### -->
<mat-toolbar>

    <div class="divbar" (click)="onClickHome()">
      <span >Home</span>
      <span class="example-spacer"></span>
    </div>
    <div  class="divbar">
      <span>Reumatologia clínica</span>
      <span class="example-spacer"></span>
    </div>
    <div class="divbar">
      <span>Artigos</span>
      <span class="example-spacer"></span>
    </div>
    <div class="divbar">
      <span>Contato</span>
      <span class="example-spacer"></span>
    </div>
  
  
    <button id="buttonMenu" (click)="openCloseNav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>{{menu}}</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-card id="meucard" [ngClass]="{'noOption': !clickMenu}">
    <mat-list role="list" class="container text-center" >
      <mat-list-item (click)="onClickHome()" role="listitem">Home</mat-list-item>
      <mat-list-item role="listitem">Reumatologia clínica</mat-list-item>
      <mat-list-item role="listitem">Artigos</mat-list-item>
      <mat-list-item role="listitem">Contato</mat-list-item>
    </mat-list>
  </mat-card>