

<div id="titlebox" >
   
  <h1 id="titleInnerBoxOne">{{title}}</h1>
 
 <div id="titleInnerBoxTwo">
 <mat-divider style="height: 1%; background-color: black; margin: 12px 0px 0px 0px;"></mat-divider>
</div>
</div>

<div id="imgReumatotwo"><img src="{{img}}" alt="Reumatologia" class="cropped"></div>

<div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5">
            <mat-accordion >
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-5">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-5">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-6 mt-5">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
      </div>
    </div>
  </div>

